
    <!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->


    <!-- Main Header -->
    <header class="main-header header-style-three">

        <!-- header-bottom -->
        <div class="header-bottom">
            <div class="container-fluid">
                <div class="nav-outer">
                    <div class="logo-box col-lg-3 col-md-12 col-sm-12 column" >
                        <figure class="logo-outer"><a href="index.html"><img src="images/logo12.png" alt=""></a></figure>
                    </div>
                    <div class="menu-area col-lg-9 col-md-12 col-sm-12 menu-column">
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html"><h3>Home</h3></a>

                                    </li>
                                    <li class="dropdown"><a href="research.html"><h3>Research</h3></a>
                                        <ul>
                                            <li><a href="/research.html">Reserch summary</a></li>
                                            <li><a href="/research11.html">AI-based Medical Imaging_kr</a></li>
                                            <li><a href="/research12.html">AI-based Medical Imaging_eng</a></li>
                                            <li><a href="/research21.html">Clinical Ultrasound Imaging_kr</a></li>
                                            <li><a href="/research22.html">Clinical Ultrasound Imaging_eng</a></li>
                                        </ul>
                                    </li> 
                                    </li> 
                                    <li><a href="team.html"><h3>Team</h3></a>
                                        <!-- <li class="dropdown"><a href="team.html"><h3>Team</h3></a>
                                        <ul>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a href="publication.html"><h3>Publications</h3></a>
                                        <!-- <li class="dropdown"><a href="publication.html"><h3>Publications</h3></a>
                                        <ul>
                                            <li><a href="event.html">Our Events</a></li>
                                            <li><a href="event-details.html">Event Details</a></li>
                                        </ul> -->
                                    </li>
                                    <li ><a href="news.html"><h3>News</h3></a>
                                    <!-- <li class="dropdown"><a href="#"><h3>News</h3></a>    
                                        <ul>
                                            <li><a href="blog.html">Our Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul> -->
                                    </li>                 
                                    <li>
                                        <a href="class.html"><h3>Class</h3></a>
                                    </li>
                                             
                                    
                                </ul>
                            </div>
                        </nav>
                    </div>
                   
                </div>
            </div>
        </div><!-- header-bottom end -->


        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 column">
                        <figure class="logo-box"><a href="index.html"><img src="images/small-logo13.png" alt=""></a></figure>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 menu-column">
                        <div class="menu-area">
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->      
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current dropdown"><a href="index.html">Home</a>
                                        </li>
                                        
                                        <li class="dropdown"><a href="research.html">Research</a> 
                                                <ul>
                                                    <li><a href="/research.html">Reserch summary</a></li>
                                                    <li><a href="/research11.html">AI-based Medical Imaging_kr</a></li>
                                                    <li><a href="/research12.html">AI-based Medical Imaging_eng</a></li>
                                                    <li><a href="/research21.html">Clinical Ultrasound Imaging_kr</a></li>
                                                    <li><a href="/research22.html">Clinical Ultrasound Imaging_eng</a></li>
                                                </ul>
                                            </li> 
                                        </li> 
                                        <li ><a href="team.html">Team</a>
                                            <!-- <li class="dropdown"><a href="team.html">Team</a>
                                            <ul>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="team-details.html">Team Details</a></li>
                                            </ul> -->
                                        </li>
                                        <li ><a href="publication.html">Publications</a>
                                            <!-- <li class="dropdown"><a href="publication.html">Publications</a>
                                            <ul>
                                                <li><a href="event.html">Our Events</a></li>
                                                <li><a href="event-details.html">Event Details</a></li>
                                            </ul> -->
                                        </li>
                                        <li ><a href="news.html">News</a>
                                            <!-- <li class="dropdown"><a href="#">News</a>
                                            <ul>
                                                <li><a href="blog.html">Our Blog</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul> -->
                                        </li>  
                                        <li ><a href="class.html">Class</a>
                                        </li>                                 
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- sticky-header end -->
    </header>
    <!-- End Main Header -->


