
    <!-- main-slider -->
    <section class="main-slider slider-style-two slider-style-five">
        
        <div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image:url(images/main-slider/125.jpg)">
                <div class="bg-column"></div>
                <div class="container">
                    <div class="content-box">
                        <h1>Reliable & High<br />Quality Laboratory</h1>
                        <div class="text"  style="font-size: 20px;">
                            Our lab leverages a new understanding of the information contained  <br />
                            within bio and medical signals to create a more effective diagnostic tool<br />
                            for imaging biological changes associated with diseases. <br/>
                            Success in this project brings effective new methods based on artificial intelligence (AI) to instruments enabling medical professionals to track the diseases as well as treatment responses. <br/>
                            Safe and low-cost methods can also be applied to patients frequently helping them directly observe the effects of lifestyle decisions.
                        </div>
                        <!-- <div class="slider-btn">
                            <a href="contact.html" class="theme-btn theme-btn-three">Contact Us</a>
                        </div> -->
                    </div>
                </div>
            </div>
            
            <div class="slide" style="background-image:url(images/main-slider/126.jpg)">
                <div class="bg-column"></div>
                <div class="container">
                    <div class="content-box">
                        <h1>Recruiting<br />New Students</h1>
                        <div class="text" style="font-size: 20px;">
                            We are recruiting new Graduate Students (M.S. Ph.D.).<br />
                            We will highly appreciate your concerns in our lab.<br />
                            Feel free to contact us.<br/>
                            <br/>
                            <h3 style='color:#FFFFFF'>2024학년도 신입생 모집</h3>
                            석사과정, 박사과정, 인턴 및 학부생 연구원을 모집합니다.<br/>
                            부산대학교 의생명융합공학부 또는 정보융합공학과 AI 전공으로 지원하면 됩니다. <br />
                            관심 있으신 분은 위 이메일 주소로 연락 바랍니다.
                        </div>
                        <!-- <div class="slider-btn">
                            <a href="#" class="theme-btn theme-btn-three">Contact Us</a>
                        </div> -->
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- main-slider end -->
