

<!-- .preloader -->
<div class="preloader"></div>
<!-- /.preloader -->


<!-- Main Header -->
<header class="main-header">
    <!-- header-top -->
    <div class="header-top">
        <div class="container">
            <div class="clearfix">
                <div class="logo-box top-left">
                    <figure class="logo-outer"><a href="/index.html"><img src="/images/logo12.png" alt=""></a></figure>
                </div>
                <div class="top-right">
                    <ul class="header-info clearfix">
                        <li><i class="flaticon-contact"></i>mkim180@pusan.ac.kr</li>
                        <li style="padding-top: 10px;"><i class="flaticon-marker"> </i>49, Busandaehak-ro, Yangsan-si, South Korea</li>
                        <!-- <li><a href="contact.html" class="theme-btn">Join Research</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- header-top end -->

    <!-- header-bottom -->
    <div class="header-bottom">
        <div class="container">
            <div class="nav-outer clearfix">
                <div class="menu-area">
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="navigation"><a href="/index.html">Home</a>
                                    
                                </li>
                                <li {% if page.url == "/reserch.html" %} class="current dropdown" {% endif %} class ="dropdown"><a href="/research.html">Research</a>
                                    <ul>
                                        <li><a href="/research.html">Research summary</a></li>
                                        <li><a href="/research11.html">AI-based Medical Imaging_kr</a></li>
                                        <li><a href="/research12.html">AI-based Medical Imaging_eng</a></li>
                                        <li><a href="/research21.html">Clinical Ultrasound Imaging_kr</a></li>
                                        <li><a href="/research22.html">Clinical Ultrasound Imaging_eng</a></li>
                                    </ul>
                                </li> 
                                <li {% if page.url == "/team.html" %} class="current" {% endif %}><a href="/team.html">Team</a>

                                </li>
                                <li {% if page.url == "/publication.html" %} class="current " {% endif %}><a href="/publication.html">Publication</a>

                                </li>
                                <li {% if page.url == "/news*" %} class="current" {% endif %}><a href="/news.html">News</a>
                                </li>
                                <li {% if page.url == "/class.html" %} class="current" {% endif %}><a href="/class.html">Class</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div><!-- header-bottom end -->


    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 column">
                    <figure class="logo-box"><a href="/index.html"><img src="images/small-logo13.png" alt=""></a></figure>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 menu-column">
                    <div class="menu-area">
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li ><a href="/index.html">Home</a>
                                    </li>
                                    <li {% if page.url == "/reserch.html" %} class="current dropdown" {% endif %} class ="dropdown"><a href="/research.html">Research</a>
                                        <ul>
                                            <li><a href="/research.html">Research summary</a></li>
                                            <li><a href="/research11.html">AI-based Medical Imaging_kr</a></li>
                                            <li><a href="/research12.html">AI-based Medical Imaging_eng</a></li>
                                            <li><a href="/research21.html">Clinical Ultrasound Imaging_kr</a></li>
                                            <li><a href="/research22.html">Clinical Ultrasound Imaging_eng</a></li>
                                        </ul>
                                    </li> 
                                    <li {% if page.url == "/team.html" %} class="current" {% endif %}><a href="/team.html">Team</a>
                                        <!-- <li class="dropdown"><a href="team.html">Team</a>
                                        <ul>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                        </ul> -->
                                    </li>
                                    <li {% if page.url == "/publication.html" %} class="current" {% endif %}><a href="/publication.html">Publications</a>
                                        <!-- <li class="dropdown"><a href="publication.html">Publications</a>
                                        <ul>
                                            <li><a href="event.html">Our Events</a></li>
                                            <li><a href="event-details.html">Event Details</a></li>
                                        </ul> -->
                                    </li>
                                    <li {% if page.url == "/news*" %} class="current" {% endif %}><a href="/news.html">News</a>
                                        <!-- <li class="dropdown"><a href="#">News</a>
                                        <ul>
                                            <li><a href="blog.html">Our Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul> -->
                                    </li>          
                                    <li{% if page.url == "/class.html" %} class="current" {% endif %}><a href="/class.html">Class</a></li>                    
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sticky-header end -->
</header>
<!-- End Main Header -->
